<div>
    <h1>Mi super app</h1>

    <listado-usuarios
        [buscador]="true"
        [usuariosEditables]="true"
        [usuariosBorrables]="true"
    >

    </listado-usuarios>

    <hr/>
    <accion-confirmable
        caption="Editar"
        confirmationCaption="Guardar"
        cancellationCaption="Cancelar"
        confirmCancellationCaption="Si, cancelar"
        cancelCancellationCaption="No, lo he pensado mejor"
        confirmationMessage="Perderás los datos no guardados. Estás seguro?"
        [activateConfirmationButton]="true"
        [confirmableCancelationButton]="true"
        (onAccionSolicitada)="log('Solitada edición')"
        (onAccionConfirmada)="log('Confirmada edición')"
        (onAccionCancelada)="log('Cancelada edición')"
    ></accion-confirmable>

    <usuario [data]="5-3*14"
        [borrable]="true"
        [editable]="true"
    ></usuario>
    <usuario [data]="2" [modoCompacto]="true"
        [borrable]="true"
    ></usuario>
    <!-- Esta linea de arriba, hará que Angular cree una instancia nueva de un UsuarioComponent-->
    <!-- Los corchetes indican que lo que hay dentro de las comillas debe procesarse como código TS-->
</div>
