<div class="formulario">

    <h2>Superformulario</h2>

    <form [formGroup]="formulario">
        <div class="campo">
            <label for=""nombre>Nombre:</label>
            <input type="text" formControlName="nombre">
        </div>        
        <div class="campo">
            <label for=""apellido>Apellido:</label>
            <input type="text" formControlName="apellido">
        </div>
        <div class="campo">
            <label for=""email>Email:</label>
            <input type="text" formControlName="email">
        </div>
        <div class="campo">
            <label for=""password>Edad:</label>
            <input type="number" formControlName="edad">
        </div>
    </form>

</div>