<div id="datos-usuario" (click)="toogleSeleccionado()" 
    [ngClass]="[estado === EstadoComponenteUsuario.SELECCIONADO ? 'seleccionado': '']"
    >

    <!--BOTONERA-->
    <div class="botones">
        <accion-confirmable
            *ngIf="(estado === EstadoComponenteUsuario.NORMAL && editable) 
            || estado === EstadoComponenteUsuario.EN_EDICION
            || estado === EstadoComponenteUsuario.EDICION_INVALIDA
            || estado === EstadoComponenteUsuario.EDICION_VALIDA"
            caption="Editar"
            confirmationCaption="Guardar"
            cancellationCaption="Cancelar"
            confirmCancellationCaption="Si, cancelar"
            cancelCancellationCaption="No, lo he pensado mejor"
            confirmationMessage="Perderás los datos no guardados. Estás seguro?"
            [activateConfirmationButton]="estado === EstadoComponenteUsuario.EDICION_VALIDA"
            [confirmableCancelationButton]="estado !== EstadoComponenteUsuario.EN_EDICION"
            (onAccionSolicitada)="edicionIniciada()"
            (onAccionConfirmada)="edicionConfirmada()"
            (onAccionCancelada)="edicionCancelada()"
        ></accion-confirmable>
        <accion-confirmable
            *ngIf="(estado === EstadoComponenteUsuario.NORMAL && borrable) || 
                    estado === EstadoComponenteUsuario.EN_BORRADO"
            caption="Borrar"
            confirmationCaption="Confirmar"
            cancellationCaption="Cancelar"
            (onAccionSolicitada)="borradoIniciado()"
            (onAccionConfirmada)="borradoConfirmado()"
            (onAccionCancelada)="borradoCancelado()"
        ></accion-confirmable>
    </div>

    <!-- Si estado === EstadoDelComponente.NORMAL  -->
    <div *ngIf="this.estado !== EstadoComponenteUsuario.ERROR &&
                this.estado !== EstadoComponenteUsuario.REALIZANDO_CARGA">
        <!-- Si no estoy en estado EN_EDICION-->
            <ng-container *ngIf="this.estado !== EstadoComponenteUsuario.EN_EDICION
                                && estado !== EstadoComponenteUsuario.EDICION_INVALIDA
                                && estado !== EstadoComponenteUsuario.EDICION_VALIDA
            ; else formulario">
                    <!-- if es compacto-->
                    <div *ngIf="this.modoCompacto; else extendido">
                        {{ this.datosDelUsuario!.nombre }}
                        {{ this.datosDelUsuario!.apellidos }}
                        <a href="mailto:{{ this.datosDelUsuario!.email }}" 
                        title="{{ this.datosDelUsuario!.email }}">CORREO</a>
                    </div>
                    <!--si no es compacto-->
                    <ng-template #extendido>
                        <div><span>Nombre: </span>{{ this.datosDelUsuario!.nombre }}</div>
                        <div><span>Apellidos: </span>{{ this.datosDelUsuario!.apellidos }}</div>
                        <div><span>Edad: </span>{{ this.datosDelUsuario!.edad }}</div>
                        <div><span>Email: </span>{{ this.datosDelUsuario!.email }}</div>
                    </ng-template>
            </ng-container>
        <!-- Si estoy en estado EN_EDICION-->
            <ng-template #formulario>
                    <formulario-usuario
                        [data]="this.datosDelUsuario!"
                        (onValido)="this.formularioValido($event)"
                        (onInvalido)="this.formularioInvalido()"
                    ></formulario-usuario>
            </ng-template>
        <!-- Con la ! le indico que el dato... aunque él no está seguro de si va a estar, YO SI ESTOY SEGURO, que conozco la lógica de mi programa-->
    </div>

    <!-- Si estado === EstadoDelComponente.REALIZANDO_CARGA  -->
    <div *ngIf="this.estado === EstadoComponenteUsuario.REALIZANDO_CARGA"> Cargando datos del usuario... </div>

    <!-- Si estado === EstadoDelComponente.ERROR  -->
    <div *ngIf="this.estado === EstadoComponenteUsuario.ERROR"> Error al cargar los datos del usuario. Contacte con el administrador! </div>

</div>
